<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="Luci-sample-container.ZPM">
    <Module>
      <Name>Luci-sample-container</Name>
      <Version>1.0.0</Version>
      <Description>Various examples for customizing your InterSystems IRIS FHIR Repository </Description>
      <Keywords>FHIR,R4,IRIS for Health</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="HS.Local.FHIRServer.PKG"/>
			<Resource Name="Install.PKG"/>
      <Resource Name="Luci.PKG"/>
      <Resource Name="ISCNL.PKG"/>
      <Resource Name="MyFHIRServer.PKG"/>
			<Invokes>
				<Invoke Class="Luci.Install.Install" Method="SetupProduction" Phase="Activate" When="Before"/>
				<Invoke Class="Install.Install" Method="SetupFHIRServer" Phase="Activate" When="After"/>
			</Invokes>
    </Module>
  </Document>
</Export>